<!DOCTYPE html>
<html lang="en" ng-app="peertapp">
<head>
	<title>Peer Tap</title>
  <!-- angular -->
  <script src="/bower_components/angular/angular.js"></script> 


  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>

  <!-- Satellizer CDN -->
 <script src="https://cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
   <!-- local styles -->

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap.css">

  

  <!-- custom script (angular app) -->
  <script type="text/javascript" src="javascripts/app.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url instagram";
  UPLOADCARE_PUBLIC_KEY = "ae61bab15249dce8d636";
  UPLOADCARE_LIVE = "false";
</script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>

</head>
<body ng-controller="MainController as main">

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main">Peer Tapp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <ul class="nav navbar-nav navbar-right">
         <li ng-show="!main.currentUser()"><a ui-sref="signup">Sign Up</a></li>
         <li ng-show="!main.currentUser()"><a ui-sref="login">Log In</a></li>
         <li ng-show="main.currentUser()"><a ui-sref="profile">Profile</a></li>
         <li ng-show="main.currentUser()"><a ui-sref="event">Events</a></li>
         <li><a href="#addBeer" ng-show="main.currentUser()" data-toggle="modal" data-target="#addBeer">Add Beer</a></li>
         <li><a href="#addEvent" ng-show="main.currentUser()" data-toggle="modal" data-target="#addEvent">Add Event</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="logout">Log Out</a></li>
       </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="addBeer" ng-controller="AllController as all">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Beer</h4>
        </div>

  <div class="modal-body">

    <form class="add-beer" ng-submit='all.createBeer()'>
        <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input class="form-control" ng-model="all.newBeer.name" id="new-Beer-Name" placeholder="Name">
        </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Kind</label>
      <input class="form-control" ng-model="all.newBeer.kind" id="new-Beer-Kind" placeholder="Kind">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Style</label>
      <input class="form-control" ng-model="all.newBeer.style" id="new-Beer-style" placeholder="Style">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Image</label>
      <input id="beer-image" type="hidden" role="uploadcare-uploader"
       data-crop="disabled" />
      </div>
      <div>
          <input type="submit" value="Add Beer">
      </div>
    </form>
  </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>


      </div>
    </div>
</div>

<div class="modal fade" id="addEvent" ng-controller="EventController as event">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Event</h4>
        </div>

  <div class="modal-body">

    <form class="add-beer" ng-submit='event.createEvent()'>
        <div class="form-group">
        <label for="exampleInputEmail1">Host</label>
        <input class="form-control" ng-model="event.newEvent.host" id="new-Event-Host" placeholder="Your Name">
        </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Location</label>
      <input class="form-control" ng-model="event.newEvent.location" id="new-Event-Location" placeholder="Location">
      </div>
      <div>
          <input type="submit" value="Add Beer">
      </div>
    </form>
  </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>


      </div>
    </div>
</div>





    <div> <ui-view> </div>
</body>
</html>