body {
  font-family: 'Cambay', sans-serif;
  background-color: #F2F4F3;
}

.login-form {
  width: 450px;
  margin: auto;
}

.signup-form {
  width: 450px;
  margin: auto;
}

.navbar {
    margin-bottom: 0;
}

.showBeer {
    height: 100px;
    width: 25%;
    margin: auto;
    display: block; 
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.hero-img-appName {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    color: white;
    font-size: 100px;
    top: 25%;
}

.hero-img-line {
    position: absolute;
    transform: translate(-50%);
    left: 49%;
    color: white;
    font-size: 50px;
    top: 39%;
}

.hero-div {
  background-image: url(https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c849a35685561e1b1b5ce06cfee4df20);
  background-size: cover;
  height: 750px;


}

.about-div {
  padding: 5%;
}

.modal-backdrop {
  z-index: -1;
}

/*.main-div {
  background-image: url(https://images.unsplash.com/reserve/6TjIJK0uSJWtQUZuQWMW_58400023.jpg?crop=entropy&fit=crop&fm=jpg&h=1200&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1150);
  background-size: cover;
}*/



.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

.add-event {
  width: 250px;
}


.beer-main {
  width: 100%;
  min-height:10px; 
  overflow:scroll;
}

.main-comments {
  height: 50px;
  width: 80%;
  margin: auto; 
  overflow:scroll;
}

.main-comments-header {
  text-align: center;
  font-size: 16px;
  font-style: bold;
}

.events-box {
  overflow: scroll;
  margin: 0;
  height: 400px;
}

.individual-beer {
  height: 300px;
}

.beer-img-div {
  width: 100%;
}

.profile-info {
  padding: 2%;
  width: 200px;
}

.profile-text {
  font-size: 16px;
}

.beer-show {
  font-size: 16px;
}

.beer-tiles {
  background-color: #BFC0C0;
  border-style: solid;
}

/* navbar */
.navbar-default {
    background-color: #000000;
    border-color: #000000;
}
/* title */
.navbar-default .navbar-brand {
    color: #F2F4F3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}



















