.navbar {
    margin-bottom: 0;
}

.showBeer {
    height: 100px;
    width: 25%;
    margin: auto;
    display: block; 
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.hero-img-appName {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    color: white;
    font-size: 100px;
    top: 25%;
}

.hero-div {
  background-image: url(http://41.media.tumblr.com/f416c213338b3398fa962810c7c55d31/tumblr_msixmnjGFD1qz82s5o1_1280.jpg);
  background-size: cover;
  height: 800px;


}

.about-div {
  padding: 5%;
}

.modal-backdrop {
  z-index: -1;
}

/*.main-div {
  background-image: url(https://images.unsplash.com/reserve/6TjIJK0uSJWtQUZuQWMW_58400023.jpg?crop=entropy&fit=crop&fm=jpg&h=1200&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1150);
  background-size: cover;
}*/



.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

.add-event {
  width: 250px;
}


.beer-main {
  width: 100%;
  min-height:10px; 
  overflow:scroll;
}

.main-comments {
  height: 50px;
  width: 80%;
  margin: auto; 
  overflow:scroll;
}


/* --- Nav bar Style --- */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}

.navbar-default .navbar-brand {
  color:white;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }

.events-box {
  overflow: scroll;
  margin: 0;
  height: 200px;
}

.individual-beer {
  height: 400px;
  background-color: grey;
}

.beer-img-div {
  width: 100%;
}

























