<h1>All Events</h1>
    <div ng-controller="EventController as ev" class="container-fluid events-box">
      <div class="row">
        <div ng-repeat="event in ev.events" class="col-md-3">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center"> {{event.location}} <span class="glyphicon glyphicon-home"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    Host: {{event.host}} <br>
                    Date: {{event.date | date:'MMMM dd, yyyy'}}
                </div>
            </div>
          </div>
        </div>
      </div>
