<div class="hero-div">

	<h1 class="hero-img-appName">Peer Tapp</h1>

</div>

<div class="about-div">
	
	<h2>What is Peer Tapp?</h2>

	<p>Beer Tapp allows beer brewers to share their creations with each other. Users can post what beer they are making and create events for other users to taste their beer.</p>

</div>

<footer class="footer-distributed">

			<div class="footer-right">

				<!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
				<a href="www.twitter.com/dszeto"><i class="fa fa-twitter"></i></a>
				<a href="www.linkedin.com/in/danielszeto"><i class="fa fa-linkedin"></i></a>
				<a href="www.github.com/danielszeto"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

<!-- 				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>
 -->
				<p>Daniel Szeto &copy; 2016</p>
			</div>

		</footer>
