           <h1>All Events</h1>
          <div ng-controller="EventController as ev" class="container-fluid events-box">
          <div class="row">
              <div ng-repeat="event in ev.events" class="col-md-3">
              <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center"> {{event.location}} <span class="glyphicon glyphicon-home"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    Host: {{event.host}} <br>
                    Date: {{event.date | date:'MMMM dd, yyyy'}}
                </div>
            </div>
              </div>
            </div>
          </div>

            <h1>All Beers </h1>
<div ng-controller="AllController as all" class="container-fluid">
          <div class="row">
             <div ng-repeat="beer in all.beers">
                <div class="col-md-4 individual-beer">
                  <div class ="beer-tiles">
                  <div class="beer-img-div"> 
                   <img class="showBeer" src="{{beer.image}}"> <br/><br/>
                  </div>
                  <p class="beer-show">Name: {{beer.name}} </p>
                  <p class="beer-show"> Kind:  {{beer.kind}} </p>
                  <p class="beer-show"> Style: {{beer.style}} </p>
                          <p class="main-comments-header"> Comments <p>
                    <div class="main-comments">
                     <ul ng-repeat="comment in all.comments | filter:{beerId: beer._id }">
                      <div class="shoeComments"> {{comment.body}} </div>
                    </ul>
                    </div>
                
                    <form class="add-comment" ng-submit='all.createComment(beer)'>
                      <div>
                        <label for="comment-body"></label>
                        <input type="text" id="comment-body" ng-model="all.newComment.body" placeholder="comments">
                      </div>
                      <div>
                       <input type="submit" value="Add Comment">
                      </div>
                    </form>
                </div>
              </div>
              </div>
            </div>
          </div>



