<!--  <div class="beerShow">
    <ul ng-repeat="beer in all.beers">
        <img class ="showBeer" src="{{beer.image}}"> <br/><br/>
        <div>{{beer.name}} </div>
        <div class="beerKind"> {{beer.kind}} </div>
        <div class="beerStyle"> {{beer.style}} </div><br><br>
        
         <ul ng-repeat="comment in all.comments | filter:{beerId: beer._id }">
          <div class="shoeComments"> {{comment.body}} </div>
        </ul>

        <form class="add-comment" ng-submit='all.createComment(beer)'>
          <div>
            <label for="comment-body"></label>
            <input type="text" id="comment-body" ng-model="all.newComment.body" placeholder="comments">
          </div>
           <input type="submit" value="Add Comment">
          </div>
        </form>
    </ul>
  </div> -->


  <div class="container">
    <div class="row" >
    <div class="col-md-6" ng-repeat="beer in all.beers">
      <img class ="showBeer" src="{{beer.image}}"> <br/><br/>
        <div>{{beer.name}} </div>
        <div class="beerKind"> {{beer.kind}} </div>
        <div class="beerStyle"> {{beer.style}} </div><br><br>
        
         <ul ng-repeat="comment in all.comments | filter:{beerId: beer._id }">
          <div class="shoeComments"> {{comment.body}} </div>
        </ul>

        <form class="add-comment" ng-submit='all.createComment(beer)'>
          <div>
            <label for="comment-body"></label>
            <input type="text" id="comment-body" ng-model="all.newComment.body" placeholder="comments">
          </div>
           <input type="submit" value="Add Comment">
          </div>
        </form>
    </div>
  <!--   <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns -->
    </div>
  </div>
</div>
