       
  <h1> Profile <h1>
    <div class="profile-info">
       <p class="profile-text">{{main.currentUser().displayName}}</p>
       <p class="profile-text">Username:{{main.currentUser().username}}<p>
       <p class="profile-text">Email:{{main.currentUser().email}}</p>
       <p class="profile-text">Joined:{{main.currentUser().created | date:'MMMM dd, yyyy'}}</p>
    </div>
         
      



<!--       <div class="col-xs-2">
      <h1> Profile </h1>
        <h3>{{main.currentUser().displayName}}</h3>
        <p><strong>Username:</strong> {{main.currentUser().username}}</p>
        <p><strong>Email:</strong> {{main.currentUser().email}}</p>
        <p><strong>Joined:</strong> {{main.currentUser().created | date:'MMMM dd, yyyy'}}</p>
      </div> -->

          <h1>My Events</h1>
        <div ng-controller="EventController as ev" class="container-fluid events-box">
          <div class="row">
              <div ng-repeat="event in ev.events | filter:{eventuserid: currentUser }" class="col-md-3">
                  <div class="panel panel-default">
                <!-- Panel Title -->
                  <div class="panel-heading">
                    <h2 class="panel-title text-center"> {{event.location}} <span class="glyphicon glyphicon-home"></span></h2>
                  </div>
                <!-- Panel Body -->
                  <div class="panel-body">
                    Host: {{event.host}} <br>
                    Date: {{event.date | date:'MMMM dd, yyyy'}}
                  </div>
            </div>
              </div>
            </div>
          </div>

            <h1>My Beers </h1>
<div ng-controller="AllController as all" class="container-fluid">
              <div class="row">
             <div ng-repeat="beer in all.beers | filter:{userid: currentUser }">
                <div class="col-md-4 individual-beer">
                  <div class="beer-img-div"> 
                   <img class="showBeer" src="{{beer.image}}"> <br/><br/>
                  </div>
                  <div>Name: {{beer.name}} </div>
                  <div class="beerKind">Kind: {{beer.kind}} </div>
                  <div class="beerKind">Style: {{beer.style}} </div>
                  <button class="btn btn-default" class='delete' ng-click="all.deleteBeer(beer)">Delete</button>
                  <button ng-click="all.displayEditForm=true" class="btn btn-default">Edit</button>
                          <h5> Comments </h5>
                    <div class="main-comments">
                     <ul ng-repeat="comment in all.comments | filter:{beerId: beer._id }">
                      <div class="shoeComments"> {{comment.body}} </div>
                    </ul>
                    </div>
                
                    <form class="add-comment" ng-submit='all.createComment(beer)'>
                      <div>
                        <label for="comment-body"></label>
                        <input type="text" id="comment-body" ng-model="all.newComment.body" placeholder="comments">
                      </div>
                      <div>
                       <input type="submit" value="Add Comment">
                      </div>
                    </form>

                    <form ng-show="all.displayEditForm" ng-submit="all.updateBeer(beer)">
                      <div class="form-group">
                        <input type="text" ng-model="beer.name" class="form-control" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <input type="text" ng-model="beer.kind" class="form-control" placeholder="Kind">
                      </div>
                      <div class="form-group">
                       <input type="text" ng-model="beer.style" class="form-control" placeholder="Style">
                      </div>
            <input type="submit" value="Save beer" class="btn btn-default">
                  <!-- ng-click="home.displayEditForm=false" -->
        </form>
                </div>
              </div>
            </div>
          </div>



