<h3>{{main.currentUser.displayName}}</h3>
<hr>
<p><strong>Email:</strong> {{main.currentUser().email}}</p>
<p><strong>Username:</strong> {{main.currentUser().username}}</p>
<p><strong>Joined:</strong> {{main.currentUser().created | date:'MMMM dd, yyyy'}}</p>
<p><strong>Posts:</strong> {{main.currentUser().posts.length}}</p>

<hr>
<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>

<form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">
	<div class="form-group">
	  <input type="text" class="form-control" placeholder="Full Name"
      ng-model="profile.new_profile.displayName"
        ng-value="main.currentUser().displayName">
	</div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username"
      ng-model="profile.new_profile.username"
        ng-value="main.currentUser().username">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Email"
      ng-model="profile.new_profile.email"
        ng-value="main.currentUser().email">
  </div>
  <input type="submit" value="Edit Profile" class="btn btn-info">&nbsp;
  <button ng-click="profile.showEditForm=false" class="btn btn-default">Cancel</button>
</form>

<h1>My Beers </h1>

<div ng-controller="AllController as all">
  <ul class="beerShow">
       <ul ng-repeat="beer in all.beers | filter:{userid: currentUser }">
          <div>{{beer.name}} </div>
          <div class="beerKind"> {{beer.kind}} </div>
          <div class="beerKind"> {{beer.style}} </div>
          <img class="showBeer" src="{{beer.image}}"> <br/><br/>
          <button class="btn btn-default" class='delete' ng-click="all.deleteBeer(beer)">Delete</button>
          <button ng-click="all.displayEditForm=true" class="btn btn-default">Edit</button>

        <form ng-show="all.displayEditForm" ng-submit="all.updateBeer(beer)">
          <div class="form-group">
              <input type="text" ng-model="beer.name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
              <input type="text" ng-model="beer.kind" class="form-control" placeholder="Kind">
          </div>
          <div class="form-group">
              <input type="text" ng-model="beer.style" class="form-control" placeholder="Style">
          </div>
            <input type="submit" value="Save beer" class="btn btn-default">
                  <!-- ng-click="home.displayEditForm=false" -->
        </form>
  </ul>
</div>